@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'SUITE-Regular', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    font-weight: 400;
}  

strong, b {
    font-family: 'SUITE-Bold', sans-serif;
    font-weight: 700;
}