@tailwind base;
@tailwind components;
@tailwind utilities;

/* SUITE-Regular */
@font-face {
  font-family: 'SUITE';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SUITE-Bold */
@font-face {
  font-family: 'SUITE';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 기본 폰트 설정 */
body {
  font-family: 'SUITE', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  font-weight: 400;
}

/* Tailwind나 strong 태그에서 굵게 표시되도록 */
strong, b {
  font-weight: 700;
}
